.e1001_9958 { 
	box-shadow:0px 8px 16px rgba(143.00000667572021, 149.00000631809235, 178.00000458955765, 0.15000000596046448);
	background-color:rgba(255, 255, 255, 1);
	width:269px;
	height:205px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
